body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.table.table-borderless td, .table.table-borderless th {
    border: 0 !important;
}

.table.table-borderless {
    margin-bottom: 0px;
}